* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
 display:flex; 
 flex-direction:column;
}

.cara{
    display: flex;
    flex-direction: column;
    /*height: 100px;*/
    
}

#home-logo{
    width: 100px;
    height: 100px;
}
.section1{
    text-align: center;
    /*background-color: #F2EDEA;*/
    /*margin-bottom: 30px;*/
    display: flex;
    flex-direction: column;
    /*margin: 15px;*/
    /*background-color: #F5D9B7;*/
}

.section1-head h1{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.section1-head p{
    margin: auto;
    margin-bottom: 30px;
    font-size: 23px;
    max-width: 60vw;
    color: white;
}

.section1-img img{
   margin-bottom: 30px;
}


.section2-body {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
/*margin: 30px;*/
}

.section2-body-content1,
.section2-body-content2,
.section2-body-content3 {
flex-basis: 30%;
padding: 20px;
border: 1px solid #ccc;
}

.section2-body h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.section2-body p{
    
}

.section3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: black;*/
    /*background-color: white;*/
}

.section3-body h2{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    opacity: 0.7;
}

.section3-body p{
    font-size: 22px;
    width: 80vw;
    margin-bottom: 30px;
    color: white;
    opacity: 0.7;
    text-align: center;
}

.section3-body button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 100px;
    transition: 0.5s;
}

.section3-body button:hover{
    background-color: #4D6B0C;
    cursor: pointer;
    border: none;
    color: black;
    transition: 0.5s;
}


.section4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4D6B0C;
}

.section4-body{
    background-color: white;
    opacity: 0.7;
    padding: 10px;
}

.section4-body h2{
    margin-top: 80px;
    font-size: 45px;
    margin-bottom: 50px;
    color: black;
}

.section4-body p{
    font-size: 22px;
    width: 80vw;
    margin-bottom: 30px;
    color: black;
}

.section4-body button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 100px;
    transition: 0.5s;
}

.section4-body button:hover{
    background-color: #4D6B0C;
    cursor: pointer;
    border: none;
    color: black;
    transition: 0.5s;
}

/*.section5{*/
/*    text-align: center;*/
/*    border: black 3px solid;*/
/*}*/

/*.video iframe{*/
/*    width: 100%;*/
/*    height: 500px;*/
/*}*/

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.list{
    max-width: 500px;
    border: 1px solid gray;
    margin-left: 20px;
    padding: 15px;
}
.list li{
    font-size: 18px;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}


.section6{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: #F2EDEA;
}

.section6-head h2{
    font-size: 40px;
    
    /*margin-bottom: 50px;*/
}

.section6-head{
    margin-bottom: 50px;
    margin-top: 60px;
    width: 90vw;
}

.section6-body img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.section6-img{
    margin-bottom: 50px;
    margin-top: 50px;
}

.section6-body h3{
    font-size: 30px;
    margin-top: 10px;
}

.section6-body p{
    font-size: 22px;
    margin-top: 10px;
    /*width: 80vw;*/
    line-height: 1.5;
    
}

.section6-body a{
    margin-top: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px; 
}

.content6-body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-tag{
    margin-top: 30px;
}

.section6-button{
    margin-top: 70px;
}

.section6-button button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 100px;
}

img {
    width: 90vw;
    height: auto;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("home-page-images/vegi.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.parallax h1{
    color: white;
    opacity: 0.7;
    text-align: center;
}

.parallax2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.parallax2 h1{
    color: white;
    opacity: 0.7;
    text-align: center;
    font-size: 40px;
}

.parallax2 {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("home-page-images/house.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*button{*/
/*    width: 200px;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    margin: 20px 10px;*/
/*    border-radius: 25px;*/
/*    font-weight: bold;*/
/*    border: 2px solid #009688;*/
/*    background: transparent;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*span{*/
/*    background: #009688;*/
/*    height: 100%;*/
/*    width: 0%;*/
/*    border-radius: 25px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transition: 0.5s;*/
/*}*/

/*button:hover span{*/
/*    width: 100%;*/
/*}*/

/*button:hover{*/
/*    border: none;*/
/*}*/

@media(min-width: 720px){
    .section1{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*text-align: left;*/
    }
    
    .section1-img img{
        margin-top: 30px;
        width: 300px;
        height: 300px;
        margin: auto;
        object-fit: cover;
    }
    
    .section1-head{
        margin-left: 20px;
        max-width: 600vw;
    }

    .section1-head p{
        max-width: 900px;
    }
    .section2-body{
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .carousel{
        width: 60vw;
        height: 30%;
    }
    
    .carousel-item img{
        width: 100px;
        width: 100px;
    }
    
    .section2-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    .section2-body-content1,
    .section2-body-content2,
    .section2-body-content3 {
    flex-basis: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    }

    .section5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
    
    .cara{
        width: 100vw;
        height: auto;
    }
    
    .carousel-item img {
      height: 300px; /* or any other desired height */
      object-fit: cover;
    }
    .facts{
        margin-left: 30px;
    }
    
    .section6-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content6-body-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .section6-body-content3{
        width: 30vw;
    }

    /*    .section2 {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    text-align: center;*/
    /*}*/
    /*.section2-body {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    gap: 1rem;*/
    /*    margin-top: 1rem;*/
    /*}*/
    /*.section2-body div {*/
    /*    flex: 1;*/
    /*    min-width: 300px;*/
    /*    padding: 1rem;*/
    /*    background-color: #f2f2f2;*/
    /*    border-radius: 5px;*/
    /*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*}*/
    /*.section2-body h3 {*/
    /*    font-size: 1.2rem;*/
    /*    margin-bottom: 1rem;*/
    /*}*/
    /*.section2-body p {*/
    /*    font-size: 1rem;*/
    /*    line-height: 1.5;*/
    /*}*/
    
    /*.section5 {*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  align-items: center;*/
    /*}*/
    
    /*.video {*/
    /*  width: 100%;*/
    /*  max-width: 560px;*/
    /*  height: 0;*/
    /*  padding-bottom: 56.25%;*/
    /*  position: relative;*/
    /*}*/
    
    /*.video iframe {*/
    /*  width: 100%;*/
    /*  height: 100%;*/
    /*  position: absolute;*/
    /*  top: 0;*/
    /*  left: 0;*/
    /*}*/
    
    /*nav{*/
    /*    display: none;*/
    /*}*/
     
     /*.video{*/
     /*    width: 800px;*/
     /*    height: 500px;*/
     /*}*/
    .carousel{
        width: 100vw;
    }
    
    .carousel-item img{
        object-fit: cover;
    }
    
    .section6-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section6-body-content1 {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.section6-img img {
  display: block;
  width: 100%;
  height: auto;
}

.content6-body-text {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.a-tag a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0072c6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.footer{
    background-color: #4D6B0C;
}
}
