* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#home-logo{
    width: 100px;
    height: 100px;
}
.section1{
    text-align: center;
    background-color: #F2EDEA;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.section1-head h1{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}

.section1-head p{
    margin: auto;
    margin-bottom: 30px;
    font-size: 23px;
    max-width: 60vw;
}

.section1-img img{
   margin-bottom: 30px;
}

.section2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.section2-head{
    font-size: 28px;
    margin-bottom: 80px;
}

.section2-body{
    width: 90vw;
}

.section2-body h3{
    font-size: 28px;
    margin-bottom: 25px;
}

.section2-body p{
    margin-bottom: 70px;
    font-size: 22px;
}


.section3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: black;*/
}

.section3-body h2{
    font-size: 50px;
    margin-bottom: 50px;
}

.section3-body p{
    font-size: 22px;
    width: 80vw;
    margin-bottom: 30px;
}

.section3-body button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 100px;
}


.section4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-body h2{
    font-size: 45px;
    margin-bottom: 50px;
}

.section4-body p{
    font-size: 22px;
    width: 80vw;
    margin-bottom: 30px;
}

.section4-body button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 100px;
}

/*.section5{*/
/*    text-align: center;*/
/*    border: black 3px solid;*/
/*}*/

.video iframe{
    width: 100%;
    height: 500px;
}

.section6{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: #F2EDEA;
}

.section6-head h2{
    font-size: 40px;
    
    /*margin-bottom: 50px;*/
}

.section6-head{
    margin-bottom: 50px;
    margin-top: 60px;
    width: 90vw;
}

.section6-body img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.section6-img{
    margin-bottom: 50px;
    margin-top: 50px;
}

.section6-body h3{
    font-size: 30px;
    margin-top: 10px;
}

.section6-body p{
    font-size: 22px;
    margin-top: 10px;
    /*width: 80vw;*/
    line-height: 1.5;
    
}

.section6-body a{
    margin-top: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px; 
}

.content6-body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-tag{
    margin-top: 30px;
}

.section6-button{
    margin-top: 70px;
}

.section6-button button{
    height: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 100px;
}

img {
    width: 90vw;
    height: auto;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.parallax {
  /* The image used */
  background-image: url("home-page-images/pantry.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*button{*/
/*    width: 200px;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    margin: 20px 10px;*/
/*    border-radius: 25px;*/
/*    font-weight: bold;*/
/*    border: 2px solid #009688;*/
/*    background: transparent;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*span{*/
/*    background: #009688;*/
/*    height: 100%;*/
/*    width: 0%;*/
/*    border-radius: 25px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transition: 0.5s;*/
/*}*/

/*button:hover span{*/
/*    width: 100%;*/
/*}*/

/*button:hover{*/
/*    border: none;*/
/*}*/

@media(min-width: 720px){
    /*.section1{*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*    text-align: left;*/
    /*}*/
    
    .section1-img img{
        margin-top: 40px;
        width: 40vw;
        height: 40vw;
        margin-right: 10px ;
        object-fit: cover;
    }
    
    .section1-head{
        margin-left: 20px;
    }

    .section1-head p{
        max-width: 800px;
    }
    .section2-body{
        display: flex;
        flex-direction: row;
    }
    
    .carousel{
        width: 60vw;
        height: 30%;
    }
    
    .carousel-item img{
        width: 100px;
        width: 100px;
    }
    
/*    .section6-body{*/
/*        display: flex;*/
/*        flex-direction: row;*/
        /*flex-wrap: wrap;*/
/*    }*/
/*    .content6-body-text{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        flex-wrap: wrap;*/
/*    }*/
    
/*    .section6-body-content3{*/
/*        width: 30vw;*/
/*    }*/

        .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section2-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .section2-body div {
        flex: 1;
        min-width: 300px;
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .section2-body h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .section2-body p {
        font-size: 1rem;
        line-height: 1.5;
    }
    
    /*.section5 {*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  align-items: center;*/
    /*}*/
    
    .video {
      width: 100%;
      /*max-width: 560px;*/
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
    }
    
    .video iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    /*nav{*/
    /*    display: none;*/
    /*}*/

}