body{
    width:100vw;
    margin:auto;
}
main {
    margin:auto;
    text-align: center;
    font-family: sans-serif;
    width:90vw;
}

a {
    text-decoration: none;
    color:#D27C4F;
}

/*width="600" height="450"*/

#snap-apply {
    height: 50px;
    width: 50vw;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
}

#snap-apply:hover{
    background-color:#4D6B0C;
    transition: 0.5s;
}

button:hover {
    background-color:#4D6B0C;
    transition: 0.5s;
}

iframe {
    width: 90vw;
    height: 60vw;
}
img {
    margin:auto;
    width:80vw;
    height: auto;
}
.section-1 img{
    margin:auto;
    width:90vw;
}

#head-text-1 {
    margin:auto;
    width:50vw;
}

.section-2 img {
    display:none;
}

.section-2 {
    padding:10px;
    background-color: #F2EDEA;
}

#snap-text {
    background-color: #B3BFC5;
    padding: 10px;
}

.section-3{
    padding:10px;
}

.section-4{
    padding:10px;
    background-color: #F2EDEA;
}

.map{
    color:#4D6B0C;
}

.section-5{
    padding:10px;
}

footer {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color: #D27C4F;
    text-align: right;
}

#footer-links{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

#footer-links a{
        color:black;
    }
    
#copyright {
    margin-right:10%;
}


@media (min-width:720px){
    main {
        margin-top:20px;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    
    img{
        display: flex;
    }
    
    .section-1 img {
        margin-left: 50px;
        margin-right:50px;
    }
    .section-2 {
        display:flex;
        flex-direction:column;
    }
    
    .snap{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        margin:10px;
        align-items:center;
    }
    
    .section-2 img {
        display:flex;
        width:50%;
        height: auto;
    }
    
    #text-box-2 {
        display: flex;
        flex-direction:column;
        padding: 20px;
    }
    
    #snap-text{
        border:1px solid black;
        margin: 10px;
    }
    
    #snap-apply{
        width: 40vw;
    }
    
    .section-3 {
        display:flex;
        justify-content:space-between;
        margin:10px;
        align-items:center;
    }
    
    #text-box-3 {
        padding:20px;
    }
    
    .section-3 img {
        display:flex;
        width:50%;
        height: auto;
        order:2;
    }
    
    .section-4 {
        display:flex;
        justify-content:space-between;
        margin:10px;
        align-items:center;
    }
    
    #text-box-4 {
        padding:20px;
    }
    
    .section-4 img {
        display:flex;
        width:50%;
        height: auto;
    }
    
    iframe{
        width:80vw;
        height:70vh;
    }
    
    .section-5 {
        display:flex;
        justify-content:space-between;
        margin:10px;
        align-items:center;
    }
    
    #text-box-5 {
        padding:20px;
    }
    
    .section-5 img {
        display:flex;
        width:50%;
        height: auto;
        order:2;
    }
    
    footer{
        box-sizing: border-box;
        margin:auto;
        width:100vw;
        display:flex;
    }
}
